body {
	font-family:'Kreon',serif;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
}


section {
  padding: 150px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-style: solid;
	}

.btn-search:link, .btn-search:visited {
	  color: #fff;
	} 

.btn-search:active, .btn-search:hover {
	  background: #666666;
	  color: #fff;
	}

.input-group {
	margin-left: 15vh; /* search button */
}


.menu-items {
    text-align:center;
    margin:0 auto;
}
.menu-titles h1 {
    text-shadow:none;
    color:#ed0121;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
}
#food-menu ul {
    margin:0;
    padding:0;
    list-style:none;
}
.menu-images img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:5px solid #dadada;
    display:block;
    margin:auto;
    margin-top: 40px;
}
